# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# log and report directories
log/
reports/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
